#home {
	/*** Banner Section ***/

	.banner-section {
		position: relative;
		border-bottom: 10px solid $primarycolor;
	}

	.banner-carousel {
		position: relative;

		.slide-item {
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 250px 0 200px;
		}

		.content-box {
			position: relative;
			text-align: left;

			h2 {
				width: 50%;
				display: block;
				font-size: 60px;
				font-family: "Barlow", sans-serif;
				font-weight: 800;
				line-height: 1.2em;
				color: #ffffff;
				margin-bottom: 30px;
				opacity: 0;
				-webkit-transform: translateY(100px);
				-moz-transform: translateY(100px);
				-ms-transform: translateY(100px);
				-o-transform: translateY(100px);
				transform: translateY(100px);
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
			}

			.descricao {
				width: 50%;
				display: block;
				font-size: 14px;
				letter-spacing: 1px;
				color: #fff;
				font-weight: 500;
				margin-bottom: 45px;
				opacity: 0;
				-webkit-transform: translateY(100px);
				-moz-transform: translateY(100px);
				-ms-transform: translateY(100px);
				-o-transform: translateY(100px);
				transform: translateY(100px);
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
			}

			.btn-box {
				background: #1b3e7b;
				border-radius: 2px;
				font-size: 16px;
				padding: 10px 20px;
				display: inline-block;
				-webkit-transform: translateY(100px);
				-moz-transform: translateY(100px);
				-ms-transform: translateY(100px);
				-o-transform: translateY(100px);
				transform: translateY(100px);
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;

				a {
					color: #fff;
				}
			}
		}

		.active {
			.content-box {
				.title {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
				}

				h2 {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
					-webkit-transition-delay: 300ms;
					-moz-transition-delay: 300ms;
					-ms-transition-delay: 300ms;
					-o-transition-delay: 300ms;
					transition-delay: 300ms;
				}

				.descricao {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
					-webkit-transition-delay: 600ms;
					-moz-transition-delay: 600ms;
					-ms-transition-delay: 600ms;
					-o-transition-delay: 600ms;
					transition-delay: 600ms;
				}

				.btn-box {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
					-webkit-transition-delay: 900ms;
					-moz-transition-delay: 900ms;
					-ms-transition-delay: 900ms;
					-o-transition-delay: 900ms;
					transition-delay: 900ms;
				}
			}
		}

		.owl-nav {
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
		}

		.owl-next,
		.owl-prev {
			position: absolute;
			left: 0;
			top: 0;
			height: 100px;
			width: 30px;
			color: #ffffff;
			background-color: rgba(255, 255, 255, 0.1);
			font-size: 20px;
			line-height: 100px;
			text-align: center;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;
		}

		.owl-next {
			left: auto;
			right: 0;
		}

		.owl-next:hover,
		.owl-prev:hover {
			background-color: rgba(255, 255, 255, 0.9);
			color: #222222;
		}
	}

	.imoveis_home {
		padding: 50px 0;

		.item {
			margin-top: 20px;
			margin-bottom: 20px;
			text-decoration: none;

			.img {
				height: 210px;
				position: relative;
				overflow: hidden;
				z-index: 1;
				border-radius: 3px 0px 3px 0px;
				margin-bottom: 0;

				.tag {
					position: absolute;
					top: 20px;
					right: 0;
					background: #ed1c24;
					padding: 2px 10px;
					color: #fff;
					font-style: italic;
					font-weight: 400;
				}

				img {
					width: 100%;
				}
			}

			.content {
				background: #dfdfdf;
				padding: 25px;

				.label {
					display: block;
					color: #ed1e26;
					font-size: 13px;
					font-weight: 600;
				}

				.titulo {
					color: #000;
					font-size: 16px;
					font-weight: 600;
					line-height: 30px;
					margin-bottom: 0;
				}

				.localidade {
					color: #333;
					font-size: 12px;
					font-weight: 500;
					display: block;
					margin: 5px 0px;
				}

				.info {
					color: #666;
					width: 70%;

					.property-meta-list {
						overflow: hidden;
						margin: 0;

						> li {
							display: block;
							margin-right: 10px;

							span.label-content {
								font-size: 12px;
							}

							span.label-property {
								font-size: 12px;
								font-weight: 600;
								float: right;
								margin-top: 5px;
							}
						}
					}
				}

				hr {
					color: #ffF;
					height: 2px;
					opacity: 1;
				}

				.btn-mais {
					color: #ed1e26;
					font-size: 14px;
					font-weight: 700;
					display: inline-block;
					text-decoration: none;

					i {
						height: 24px;
						width: 24px;
						border-radius: 30px;
						background-color: #ed1e26;
						line-height: 25px;
						color: #fff;
						font-size: 12px;
						position: relative;
						text-align: center;
						transition: all 0.3s linear 0s;
					}

					&:hover i {
						background-color: $primarycolor;
					}

					
				}
			}
		}

		.owl-theme .owl-dots .owl-dot span {
			width: 20px;
			height: 6px;
		}
		.owl-theme .owl-dots .owl-dot.active span,
		.owl-theme .owl-dots .owl-dot:hover span {
			background: #ed1e26;
		}
	}

	.empresa_home {
		position: relative;
		width: 100%;
		margin-bottom: 50px;

		.title-section {

			h3 {
				color: #fff;
			}

			h2 {
				color: #fff;
			}
		}

		.escopo {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			overflow: hidden;

			.col-texto {
				background: $primarycolor;
				width: 45%;
				padding: 45px 50px;

				.texto {
					color: #fff;
				}

				.btn {
					background: #fff;
					margin: 0;
					border: 0;
					border-radius: 2px;
					font-size: 16px;
					padding: 15px;

					&:hover {
						background-color: #4d4d4f;
						color: #fff;
					}

				}
			}

			.col-img {
				width: 50%;
				position: relative;
			}
		}
	}

	.realizados_home {
		padding: 50px 0;

		.item {
			margin-top: 20px;
			margin-bottom: 20px;
			text-decoration: none;

			.img {
				height: 235px;
				position: relative;
				overflow: hidden;
				z-index: 1;
				-webkit-border-radius: 3px;
				-khtml-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				border-radius: 3px;
				margin-bottom: 0;

				.tag {
					position: absolute;
					top: 20px;
					right: 0;
					background: #ed1c24;
					padding: 2px 10px;
					color: #fff;
					font-style: italic;
					font-weight: 400;
				}

				img {
					height: 225px;
					zoom: 1.3;
				}
			}

			.content {
				padding: 25px;

				.label {
					display: block;
					color: $primarycolor;
					font-size: 13px;
					font-weight: 600;
				}

				.titulo {
					color: #000;
					font-size: 16px;
					font-weight: 600;
					line-height: 30px;
					margin-bottom: 0;
				}

				.localidade {
					color: #333;
					font-size: 12px;
					font-weight: 500;
					display: block;
					margin: 5px 0px;
				}

				.info {
					color: #666;
					width: 70%;

					.property-meta-list {
						overflow: hidden;
						margin: 0;

						> li {
							display: block;
							margin-right: 10px;

							span.label-content {
								font-size: 12px;
							}

							span.label-property {
								font-size: 12px;
								font-weight: 600;
								float: right;
								margin-top: 5px;
							}
						}
					}
				}

				.btn-mais {
					background: #ed1c24;
					border-radius: 30px;
					display: block;
					height: 24px;
					width: 24px;
					margin-top: 10px;
					position: relative;
					text-align: center;
					transition: all 0.3s linear 0s;

					&:hover {
						background-color: $primarycolor;
					}

					i {
						line-height: 25px;
						color: #fff;
						font-size: 12px;
					}
				}
			}
		}

		.owl-theme .owl-dots .owl-dot span {
			width: 20px;
			height: 6px;
		}
		.owl-theme .owl-dots .owl-dot.active span,
		.owl-theme .owl-dots .owl-dot:hover span {
			background: #1b3e7b;
		}
	}

	.contato_home {
		margin-top: 50px;
		margin-bottom: 20px;
	
		.content-wrapper {
			background: #fff;
			padding: 50px;
			border: 1px solid #ddd;
			border-radius: 4px;
	
			.box-info {
				background: $primarycolor;
				padding: 30px;
				color: #fff;
	
				h1 {
					font-size: 25px;
				}
	
				hr {
					height: 1px;
					background: #fff;
					width: 70%;
					margin: 15px 0px;
				}
	
				h2 {
					font-size: 20px;
				}
	
				p {
					font-size: 14px;
				}
	
				a {
					font-size: 24px;
					color: #fff;
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					font-weight: 400;
					text-decoration: none;
				
	
					.phone-box {
						display: flex;
						width: 40px;
						height: 40px;
						border: 2px solid #fff;
						border-radius: 50%;
						align-items: center;
						justify-content: center;
						margin-right: 20px;
	
						i {
							color: inherit;
							font-size: 16px;
							margin-top: 2px;
						}
					}
				}
			}
	
			.form-contato {
				form {
					input {
						background: #f4f4f4;
						font-size: 16px;
						font-weight: 400;
						padding: 14px 10px;
						border: none;
						line-height: 1em;
						height: 3em;
					}
	
					select {
						background: #f4f4f4;
						font-size: 16px;
						font-weight: 400;
						padding: 14px 10px;
						border: none;
						line-height: 1em;
						height: 3em;
					}
	
					textarea {
						background: #f4f4f4;
						font-size: 16px;
						font-weight: 400;
						padding: 14px 10px;
						border: none;
						line-height: 1em;
					}
	
					button {
						background: $primarycolor;
						color: #fff;
						font-size: 16px;
						font-weight: 400;
						padding: 18px 20px;
						line-height: 1em;
					}
				}
			}
		}
	}
}
