#footer {
	background-color: #4d4d4f;
	background-image: url('/assets/images/bg-footer.png');
	color: #FFF;

	.footer-top {
		padding: 25px 0;
		
		.links {

			.item-link {
				margin-top: 20px;
			
				h3 {
					font-size: 18px;
					margin-bottom: 10px;
					padding: 0;
				}

				h5 {
					font-size: 14px;
					font-weight: 400;
				}

				p {
					font-size: 14px;
					line-height: 25px;
				}

				.address {
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					margin: 25px 0;

					.address-icon {
						width: 30px;
						flex: 0 0 auto;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 15px;
						
						i {
							font-size: 24px;
						}
					}

					.address-info {
						font-size: 14px;
					}
				}




				.form-newsletter {
					margin-bottom: 30px;

					form {

						input {
							width: 20em;
							margin: 0;
							border: 0;
							border-radius: 2px;
							font-size: 16px;
							line-height: 1em;
							height: 1.5em;
							box-sizing: content-box;
							padding: 10px;
						}

						button {
							background: $primarycolor;
							margin: 0;
							border: 0;
							border-radius: 2px;
							font-size: 16px;
							line-height: 1em;
							height: 1.5em;
							box-sizing: content-box;
							padding: 10px 20px;
						}

					}

				}

				.social {

					> li {
						padding: 0;
						margin-right: 10px;
						display: inline-block;

						a {
							
													
							i {
								height: 30px;
								width: 30px;
								border-radius: 50%;
								background-color: #fff;
								line-height: 32px;
								color: #4d4d4f;
								font-size: 16px;
								position: relative;
								text-align: center;
								-webkit-transition: 0.5s ease-in-out;
								-o-transition: 0.5s ease-in-out;
								transition: 0.5s ease-in-out;
							}

						    &:hover i {
								background-color: #808285;
								color: #fff;
							}

						}

					}

				}

			}

		}


	}

	.bottom-footer {
		background: $primarycolor;
	    padding: 10px 20px;
	    color: #fff;
	    height: 100%;

		p {
			margin: 0;
			font-size: 14px;
		}

		.copy {
			float: left;
			padding: 5px 0;
		}

		.dev {
			float: right;
			text-align: right;
		}

	}
	
}